# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env

# Ignore development files and folders
*.log
*.sqlite
.DS_Store
.vscode/
.idea/

service_account_key.json

# Ignore local downloads folder if any
kolkata/
surat/
